body{
 font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
  display: flex;
flex-direction: column;
gap: 40px;
}
button{
  padding: 10px 16px;
  border-radius: 20px;
  background-color: rgba(26,144,138,1);
  border: none;
  color: #ffffff;}
.container_head{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container_head h1 {
  color: #060b1e;
  font-size: 30px;
}
.container_head p {
  font-size: 13px;
  color: gray;
  opacity: 1;
}

.contact{
width: 100%;
height: 300px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.contact div {
  width: 40%;
  height: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.icons{
  color: rgba(0, 81, 81, 1);
  font-size: 60px;
}
.contact div p {
  font-size: 13px;
  text-align: center;
}
.contact div a {
  font-size: 12px;
  color: rgba(0, 81, 81, 1);
}
.contact h4{
  font-size: 20px;
}
.company{
  width: 100%;
  height: 300px;
  background-color: #1A938A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:3px;
}
.company_1{
  width: 50%;
  height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-start;
padding: 50px;
gap: 10px;
padding-bottom: 30px;
margin: 20px;

}
.company_2{
  width: 60%;
  height: 100%;
  background-image: url(./foto1.png);
 background-size: contain;
  background-repeat: no-repeat;
}
.p1{
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 1);
 
}
.h1{
  color: #ffffff;
  font-size: 40px;
}
.p2{
  font-size: 12px;
  color: #ffffff;
}
.btn{
  padding: 12px 18px;
  border-radius: 30px;
  border: 1px solid black;
  color: #060b1e;
  background-color:#FFBF3F;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: bold;
}
.icons2 {
font-size: 17px;
text-align: center;

}
.icons2:hover{
  transition: all 0.5 ease-out;
rotate: 45deg;
}
.comment{
  width: 100%;
  height: 100vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.comment1{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.comment1 p {
  font-size: 14px;
}
.comment_head{
  width: 100%;
  height: 20%;
  display: flex;
  padding: 30px;
justify-content: center;
gap: 70px;
}
.foto{
  width: 100px;
  height: 100px;
  background-image: url('./foto2.png');
}
.son{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;

}
.one{
  width: 40%;
  height: 100%;
  background-image: url('foto3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e5e7eb;
  transition: transform .2s; 
}
.one:hover{
  transform: scale(1.1);
}
.two{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  gap: 20px;
  padding: 10px;
}
.two h1{
  font-size: 35px;
color: #060b1e;
}
.two p {
  font-size: 12px;
  color: rgba(59, 74, 70, 1);
}

.dont{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.dont2{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.dont div {
  width: 250px;
  height: 100px;
}


.dont2 div {
  width: 250px;
  height: 100px;
}
.font{
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.size{
  display: flex;
  gap: 10px;
  align-items: center;
}
.size .daire{
  width: 70px;
  height: 70px;
  background-color: darkred;
  border-radius: 100%;
  border: 1px solid rgb(207, 207, 207);
 background-color: #dbdcdd;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;

}
.font .daire{
  width: 70px;
  height: 70px;
  background-color: darkred;
  border-radius: 100%;
  border: 1px solid rgb(207, 207, 207);
 background-color: #dbdcdd;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;

}
.size .p3{
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  color: #060b1e;
}
.font .p3{
  font-size: 18px;
  font-family: "Outfit", sans-serif;
  color: #060b1e;
}
.icons3{
  color: rgba(0, 81, 81, 1);
  font-size: 30px;
}
.text{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
}
.daire:hover{
  border: 2px solid black;
  background-color: #FFBF3F;
}


@media (max-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact div {
    display: flex;
    align-items: center;
    width: 50%; 
    margin-bottom: 20px; 
  
  }
}



@media (max-width: 768px) {
  .company {
    width: 100%;
    flex-direction: column;
    height: 100vh;
  }

  .company div {
    align-items: center;
  }

  .company_1 {
    width: 100%;
    text-align: left;
    height: 600px;
  }

  .company_2 {
    width: 100%;
    background-size: contain;
    height: 100%;
  }

  .company_1.p1 {
    font-size: 15px;
    color: #FFBF3F;
  }

  .company_1.h1 {
    font-size: 30px;
  }
  .comment {
    flex-direction: column;
  }

  .one {
    width: 100%;
    height: 300px; 
    background-size: cover;
  }

  .son {
    flex-direction: column;
  }
}




 @media (max-width: 594px) {
  .container_head{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} 



